    <nav class="navbar navbar-toggleable-md">
      <a class="navbar-brand" href="#">Trusted Circle</a>

      <button md-button class="btn btn-primary" [routerLink]="['/login']" routerLinkActive="active">
        Login
      </button>
      <button md-button class="btn btn-primary" [routerLink]="['/chat']" routerLinkActive="active">
        Chat
      </button>
      <button md-button class="btn btn-primary" [routerLink]="['/message']" routerLinkActive="active">
        Messages
      </button>



    </nav>

    <!--<div class="container">
    </div> /.container -->


            <!--<button md-button class="btn btn-primary" [routerLink]="['/login']" routerLinkActive="active">
          Login
        </button>
        <button md-button class="btn btn-primary" [routerLink]="['/chat']" routerLinkActive="active">
          Chat
        </button>-->