<!--<div *ngIf="!usernameStatus">
    <label> RoomName: </label>
    <input type="text" [(ngModel)]="roomName" name="roomName">
    <br>
    <button class="btn btn-primary" (click)="joinRoom()">Submit</button>
</div>


<div *ngIf="!usernameStatus">
    <label> Username: </label>
    <input type="text" [(ngModel)]="username" name="username">
    <br>
    <button class="btn btn-primary" (click)="setUsername()">Submit</button>
</div>

<div *ngIf="usernameStatus">
    Username: {{username}}
</div>

<div *ngIf="usernameStatus && username !== undefined">
    <input type="text" placeholder="Enter a Message..." 
    [(ngModel)]="message" 
    name="message"
    (keyup.enter)="sendMessage()"
    >

    <br />
    <div *ngFor="let message of messages">
        <strong>{{message.username}}</strong>: {{message.text}}
    </div>

</div>

<div *ngIf="!usernameStatus">
Please Log In to Chat
</div>-->

<div class="col-md-8 col-md-offset-2">

<!--<div>

<div *ngIf="!usernameStatus" class="col-sm-6">
    <label> Username: </label>
    <input type="text" [(ngModel)]="username" name="username">
    <br>
    <button class="btn btn-primary" (click)="setUsername()">Submit Username</button>
</div>-->



<!--<div *ngIf="usernameStatus && roomnameStatus === false">
    <label> RoomName: </label>
    <input type="text" [(ngModel)]="roomName" name="roomName">
    <br>
    <button class="btn btn-primary" (click)="joinRoom()">Submit Room Name</button>
</div>-->

<!--</div>-->







<div *ngIf="!usernameStatus">
Please Log In to Chat
</div>

        <!--<button type="button" class="btn btn-danger" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit">Save</button>-->

</div>

<br />


  <div class="jumbotron">
    <div class="container">

<div class="row">
<!--<div class="col-lg-4">-->
      <div class="panel panel-info" style="height: 500px;max-height: 500px; overflow-y: scroll" #scrollMe >
                    <div class="panel-heading">
                                    <div *ngIf="usernameStatus">
                                        <strong > Username: {{username}} </strong> 
                                        <span *ngIf="roomnameStatus">
                                        <strong >| Room Name: {{roomName}} </strong>
                                        <button class="btn btn-danger btn-right" (click)="changeRoom()"> Change Room </button>
                                        </span>

                                    </div>
                    </div>
      <div class="panel-body">
                <div *ngIf="roomSelected === false && usernameStatus">
                <strong> Select Your Room </strong>
                        <div  *ngFor="let rooms of listOfRooms">
                        <button  class="btn btn-primary" (click)="joinRoom(rooms.roomName)">{{rooms.roomName}}</button>
                        </div> 
                </div>



                <div *ngFor="let message of messages; let item = index">

                <!--<div class="col-lg-4">-->
                <div class="panel panel-default">
                <div class="panel-heading">User: {{message.username}}</div>
                <div class="panel-body">
                    <strong (click)="usernameClick(messages[i].username, i)"><a style="color:black;text-decoration: none" href="https://www.thesitewizard.com/" target="_blank">
                    <!--{{message.username}}-->
                    </a></strong>Message: {{message.text}}
                    <strong id="{{item}}"> Index {{item}} </strong>
               </div>
               </div>
               </div>
    </div>     <!--panel body close-->
    </div>     <!--"panel panel-info"-->



</div> <!-- Row Close -->


      <div class="panel panel-default">
            <div *ngIf="usernameStatus === true && username !== undefined && roomnameStatus">
                <input type="text" placeholder="Enter a Message..." 
                [(ngModel)]="message" 
                name="message"
                (keyup.enter)="sendMessage()"
                style="min-width: 100%;">
            </div>
      </div>


</div>


