<h1>These are the Topics being discussed in the Circle {{circle}} </h1>

<ul>

      <!--(click)="clicked(topic)"-->
      <li *ngFor="let topic of topics" [routerLink]="['/messages']" >
        <strong (click)="topicClicked(topic)">{{ topic }} </strong> 
        <!--<strong>{{topic.user}}</strong>-->
      </li>
</ul>

<input type="text" placeholder="New Topic To Discuss" 
    [(ngModel)]="newTopic.body" 
    name="body"
    (keyup.enter)="createTopic()"
    >

<ul>
    <li *ngFor="let user of users">
      {{user}}
    </li>
</ul>