<div class="container" class="keepInside" id="kk">
<h1 class="keepInside" id="n" >Circle: <p><strong>[{{currentCircle}}]</strong></p></h1>

<ul>
      Topics:
      <!--(click)="clicked(topic)"-->
      <li *ngFor="let topic of topics; let i = index" [routerLink]="['/messages']" >
        <strong (click)="topicClicked(topic[0], topic[1])">{{topic[0]}} {{ topic[1] }} </strong> 
        <!--<strong>{{topic.user}}</strong>-->
      </li>
</ul>

<input type="text" placeholder="New Topic To Discuss" 
    [(ngModel)]="newTopic.body" 
    name="body"
    (keyup.enter)="createTopic(newTopic.body)"
    >

<div>
<ul>
    <li *ngFor="let user of users">
      {{user}}
    </li>
</ul>
</div>

<div>

<md-input-container>
  <input mdInput #myInput placeholder="Add a User" [(ngModel)]="name" (input)="filterItem(myInput.value)" >
</md-input-container>


  <div *ngFor="let item of filteredItems" (click)="printuser(item)" [routerLink]="['/poll']" >
   <strong>Add: {{item.username}}</strong>
</div>

</div>

<div style="text-align:center">
<button type="button" class="btn btn-primary" [routerLink]="['/trustedcounselor']" >Add a Trusted Counselor</button>
</div>
<!--<div>
  People in the Current Circle
<div *ngFor="let item of usersOfCircle">
   {{item.username}}
</div>
</div>

<div>
  People "NOT" in Current Circle
<div *ngFor="let item of usersNotOfCircle" (click)="printuser(item)" [routerLink]="['/poll']" >
   {{item.username}}
</div>
</div>-->
</div>