<h1>These are the Topics being discussed in the Circle {{circle}} </h1>

<ul>

      <!--(click)="clicked(topic)"-->
      <li *ngFor="let topic of topics" [routerLink]="['/messages']" >
        <strong (click)="topicClicked(topic)">{{ topic }} </strong> 
        <!--<strong>{{topic.user}}</strong>-->
      </li>
</ul>

<input type="text" placeholder="New Topic To Discuss" 
    [(ngModel)]="newTopic.body" 
    name="body"
    (keyup.enter)="createTopic()"
    >

<ul>
    <li *ngFor="let user of users">
      {{user}}
    </li>
</ul>

<md-input-container>
  <input mdInput #myInput placeholder="Add a User" [(ngModel)]="name" (input)="filterItem(myInput.value)" >
</md-input-container>

<div *ngFor="let item of filteredItems" (click)="printuser(item)">
   {{item.username}}
</div>