<h1>These are the Circles that you belong to <strong>{{username}}</strong></h1>

        <!-- this was inside div for circles [routerLink]="['/topics']"-->

<ul>
      <li *ngFor="let circle of circles" (click)="clicked(circle)" >

        <div>
          <strong (click)="circleClicked(circle)" [routerLink]="['/topics']" >{{ circle }}</strong>
          </div>
      </li>
</ul>

<input type="text" placeholder="New Circle Name" 
    [(ngModel)]="newCircle" 
    name="newCircle"
    (keyup.enter)="createCircle()"
    >
