<div class="container">
  <div class="container">
    <div class="row profile">
      <div class="col-md-3">
        <div class="profile-sidebar">
          <div class="profile-userpic">
            <img src={{profilePicLink}} class="img-responsive" >
          </div>

          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              {{ username }}
            </div>
            <div class="profile-usertitle-job">
              Developer
            </div>
          </div>

          <div class="profile-userbuttons">
            <button type="button" class="btn btn-primary">Things</button>
            <button type="button" class="btn btn-default">Stuff</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <a href="#">
                  <i class="glyphicon glyphicon-home"></i> Overview </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-user"></i> Account Settings </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <i class="glyphicon glyphicon-ok"></i> Tasks </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-flag"></i> Help </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile-content">
          <div class="row">
            <div class="col-8 col-sm-6">

              <div class="thumbnail">
                <img src="http://www.free-icons-download.net/images/red-circle-icon-69788.png" alt="...">
                <div class="caption">

                  <h1>Your circles, <strong> {{username}}</strong></h1>
                  <ul>
                    <li *ngFor="let circle of finalComparedCircles">

                      <div>
                        <strong (click)="circleClicked(circle[0])" [routerLink]="['/topics']">{{ circle[0] }}</strong>
                      </div>
                    </li>
                  </ul>

                  <input type="text" placeholder="New Circle Name" [(ngModel)]="newCircle" name="newCircle" (keyup.enter)="createCircle(newCircle)">
                </div>
              </div>


            </div>
            <div class="col-4 col-sm-6">

              <div class="thumbnail">
                <img src="http://www.freeiconspng.com/uploads/live-chat-icon-13.png" alt="..." height="256px" width="256px">
                <div class="caption">
                  <a [routerLink]="['/chat']" routerLinkActive="active">
                    <h3>Chat</h3>
                  </a>
                  <!--<app-chat> </app-chat>-->
                  <!--<p></p>-->
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>


</div>







<!-- this was inside div for circles [routerLink]="['/topics']"-->
