<div class="col-sm-1">
  <div class="voter">
    <li class="glyphicon glyphicon-menu-up vote-button" [class.highlighted]="myVote == 1" (click)="upVote()"></li>
    <span class="vote-count">{{ message.votes + myVote }}</span>
    <li class="glyphicon glyphicon-menu-down vote-button" [class.highlighted]="myVote == -1" (click)="downVote()"></li>
  </div>
</div>
<div class="col-sm-11">
  <article class="panel panel-default">

    <div class="panel-body">
      <span>
            <p class="p1">
            {{ message.body }}
            </p> 
            <p class="p2">
                <a (click)="onEdit()">Edit</a>
                <a (click)="onDelete()">Delete</a>
            </p> 
        </span>
    </div>

    <footer class="panel-footer">
      <div class="author" [popover]="myPopover" popoverPlacement="right" [popoverOnHover]="true" (mouseenter)="ttp( message.username )"
        [popoverCloseOnMouseOutside]="true">
        {{ message.username }}
      </div>

      <popover-content #myPopover [title]="userInfo.username" [closeOnMouseOutside]="true">
        <div class="pfp">
          <img [src]="userInfo.photo" class="profile-photo">
          <h2 class='fullname'> {{userInfo.firstname}}, {{userInfo.lastname}} </h2>
        </div>
      </popover-content>

      <div class="config">
        <a (click)="openModal()">Comment</a>
      </div>
    </footer>
  </article>
</div>
