
.container {
    padding-top: 50px;
}
.author {
    display: inline;
    font-style: italic;
    font-size: 12px;
    width: 80%;
    }

    .profile-userpic img {
  float: none;
  margin: 0;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.config {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 19%;
    float: right;
}

.pfp {
    width: 33.333%;
    text-align: center;
    display: inline-block;
}

.desc {
    position: relative;
    width: 150px;
    bottom: 5em;
    left: 1em;
    text-align: right;
    display: inline-block;
}

#k {
    font-size: 12px;
}

.p1 {
    display: inline-block;
    text-align: left;

}
.p2 {
    display: inline-block;
    text-align: right;
    font-size: 12px;
    width: 19%;
    float: right;
}

.voter {
        width: 15px;
        font-size: 15px;
        color: #999;
        }
        .vote-button {
            cursor: pointer;
        }
        .highlighted {
            color: gold;
        }

.profile-photo {
    display: block;
    width: 25%;
    margin: 0px;
}

.username {

    font-size: 1.5em;
    margin: 0px;
}