 .body{
   background-color: #eeeeee !important; 
}
.btn-primary {
    background: #811e1f;
}

.parallaxOne {
background-image: url("http://i.imgur.com/0Nc2WIq.jpg");
}
*[parallax] {
    height: 400px;
    
    background-size: cover;
    background-position: center;
background-attachment: fixed;
}
.panel-heading{
    background: #811e1f;
    color: white;
}
.parallaxThree {
background-image: url('http://i.vimeocdn.com/video/393718537_1280x720.jpg');
background-attachment: fixed;

    
}


.parallaxTwo {
background-image: url("http://i.imgur.com/0Nc2WIq.jpg");

    
}