
<div class="parallaxOne" parallax ></div> 

<div class="jumbotron">
  <h1>Trusted Circle</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><input type="" name="" value=""><a class="ui primary basic button">create circle</a></p>
  
</div>

<div class="parallaxTwo" parallax>
  <h1>in parallax 2</h1>
</div>

  <div class="jumbotron">
    <div class="container">

<div class="row">
<div class="col-lg-4">
      <div class="panel panel-info">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">
<div class="ui inverted segment">
  <div class="ui inverted accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      What is a dog?
    </div>
    <div class="content">
      <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
    </div>
    <div class="title active">
      <i class="dropdown icon"></i>
      What kinds of dogs are there?
    </div>
    <div class="content active">
      <p class="transition visible">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      How do you acquire a dog?
    </div>
    <div class="content">
      <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
      <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
    </div>
  </div>
</div>
        </div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-primary">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
</div>
  </div>

</div>
  <div class= "parallaxThree" parallax ></div>








