
<div class="parallaxOne" parallax ></div> 

<div class="jumbotron">
  <div style="margin-left: 2em">
  <h1>Trusted Circle</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><input type="" name="" value=""><a class="ui primary basic button">create circle</a></p>
  </div>
  
</div>

<div class="parallaxTwo" parallax>
</div>

  <div class="jumbotron">
    <div class="container">

<div class="row">
<div class="col-lg-4">
      <div class="panel panel-info">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-primary">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
</div>
  </div>

</div>
  <div class= "parallaxThree" parallax ></div>








