

<div parallax speed="2" reverse="false" ></div> 

<div class="jumbotron">
  <h1>Trusted Circle</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><input type="" name="" value=""><a class="btn btn-primary btn-lg">create circle</a></p>
  
</div>

<div parallax style="background-image: url(http://i.vimeocdn.com/video/393718537_1280x720.jpg);">
  <h1>in parallax 2</h1>
</div>

  <div class="jumbotron">
    <div class="container">

<div class="row">
<div class="col-lg-4">
      <div class="panel panel-info">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-default">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="col-lg-4">
      <div class="panel panel-primary">
      <div class="panel-heading">Panel Header</div>
      <div class="panel-body">Panel Content</div>
    </div>
</div>
</div>
  </div>

</div>
  <div parallax speed="5" reverse="true">








